body {
  background-color: white;
  margin: 0;
}
h1 {
  color: rgb(160, 20, 20);
  text-align: center;
  font-size: 24px;
}

/* Section 1 */
.diceSection {
  position: absolute;
  height: 300px;
  width: 500px;
  padding: 20px;
  word-wrap: break-word;
}
.diceContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  margin-right: 100px;
}
.gameMessage {
  margin-left: 120px;
  position: absolute;
}
.diceButton {
  margin-top: 50px;
  margin-right: 50px;
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: bold;
  font-size: 24px;
  background-color: rgb(76, 197, 106);
  color: rgb(255, 255, 255);
}
.diceValue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 3px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 150px;
}

/* Section 2 */
.scoreSection {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 200px;
  width: 300px;
  word-wrap: break-word;
  margin-left: 1200px;
  text-align: center;
}
.table {
  display: flex;
  flex-direction: row;
}
.cell {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  font-size: 24px;
}
/* Section 3 */
.gameBoard {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse; /* So row 1 is at bottom */
  position: relative;
  border: 3px solid black;
  width: 600px;
}
/* section3 row */
.row {
  display: flex;
}
/*Rows 2,4,6,8 and 10*/
.row:nth-child(even) {
  flex-direction: row-reverse;
}
/*All 100 squares*/
.square {
  width: 400px;
  height: 50px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
}
.square:nth-child(odd) {
  background-color: rgb(189, 8, 8);
}
.square:nth-child(even) {
  background-color: white;
}

/*Players**/
/*Yellow player*/
.player[id="0"] {
  width: 20px;
  height: 20px;
  background-color: rgb(231, 231, 39);
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 35px;
  margin-bottom: 25px;
  position: absolute;
}
/*Green player*/
.player[id="1"] {
  width: 20px;
  height: 20px;
  background-color: rgb(26, 189, 61);
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 25px;
  position: absolute;
}
/*Blue player*/
.player[id="2"] {
  width: 20px;
  height: 20px;
  background-color: rgb(34, 131, 221);
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 35px;
  margin-bottom: 25px;
  position: absolute;
}
/*Brown player*/
.player[id="3"] {
  width: 20px;
  height: 20px;
  background-color: rgb(165, 83, 16);
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 35px;
  margin-top: 25px;
  position: absolute;
}

/*Snakes*/
.snake[id="0"] {
  position: absolute;
  margin-top: 50px;
  height: 100px;
  width: 70px;
  margin-left: 45px;
  rotate: -60deg;
}
.snake[id="1"] {
  position: absolute;
  height: 150px;
  width: 100px;
  margin-left: 30px;
  rotate: 45deg;
}
.snake[id="2"] {
  position: absolute;
  margin-top: 250px;
  height: 300px;
  width: 80px;
  margin-left: 25px;
}
.snake[id="3"] {
  position: absolute;
  margin-top: 200px;
  height: 350px;
  width: 80px;
  margin-left: 200px;
  rotate: -35deg;
}
.snake[id="4"] {
  position: absolute;
  margin-top: 300px;
  height: 400px;
  width: 100px;
  margin-right: 200px;
  rotate: 25deg;
}
.snake[id="5"] {
  position: absolute;
  margin-top: 150px;
  height: 200px;
  width: 100px;
}

/*Ladders*/
.ladder[id="0"] {
  position: absolute;
  height: 250px;
  width: 100px;
  rotate: 60deg;
  margin-bottom: 60px;
  margin-left: 280px;
}
.ladder[id="1"] {
  position: absolute;
  height: 220px;
  width: 100px;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 90px;
  rotate: 10deg;
}
.ladder[id="2"] {
  position: absolute;
  height: 200px;
  width: 100px;
  margin-bottom: 100px;
  rotate: 20deg;
}
.ladder[id="3"] {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.ladder[id="4"] {
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: 50px;
  rotate: 100deg;
  margin-left: 50px;
}
.ladder[id="5"] {
  position: absolute;
  height: 250px;
  width: 100px;
  margin-top: 150px;
  margin-left: 180px;
  margin-bottom: 90px;
  rotate: 100deg;
}
.ladder[id="6"] {
  position: absolute;
  height: 150px;
  width: 100px;
  margin-bottom: 200px;
  rotate: -40deg;
}
.ladder[id="7"] {
  position: absolute;
  height: 150px;
  width: 100px;
  margin-bottom: 100px;
  rotate: -25deg;
}
.ladder[id="8"] {
  position: absolute;
  margin-top: 350px;
  margin-left: 250px;
  height: 500px;
  width: 100px;
  rotate: -40deg;
}

.restartOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.playAgain {
  height: 50px;
  width: 100px;
  background-color: rgb(76, 197, 106);
  font-weight: bolder;
  color: white;
  margin-right: 40px;
}
.reset {
  height: 50px;
  width: 100px;
  background-color: rgb(76, 197, 106);
  font-weight: bolder;
  color: white;
}
