body {
  background-color: white;
  margin: 0;
}
h1 {
  color: rgb(160, 20, 20);
  text-align: center;
  font-size: 24px;
}

.Gameboard {
  margin: 0 auto;

  display: flex;
  flex-direction: column-reverse; /* So row 1 is at bottom */

  position: relative;
  border: 3px solid black;
  width: 600px;
}
/*.player[id="0"] {*/

.row {
  display: flex;
}

.row:nth-child(even) {
  flex-direction: row-reverse;
}

.square {
  width: 400px;
  height: 50px;
  border: 3px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
}

.square:nth-child(odd) {
  background-color: rgb(189, 8, 8);
}
.square:nth-child(even) {
  background-color: white;
}

.restart-options {
  display: flex;
  flex-direction: row;

  justify-content: center;

  margin-top: 50px;
}
.playAgain {
  margin-right: 40px;
}
.player[id="0"] {
  width: 20px;
  height: 20px;
  background-color: rgb(231, 231, 39);
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 35px;
  margin-bottom: 25px;

  position: absolute;
}
.player[id="1"] {
  width: 20px;
  height: 20px;
  background-color: rgb(26, 189, 61);

  border: 2px solid black;
  border-radius: 50%;
  margin-left: 35px;
  margin-top: 25px;

  position: absolute;
}
.player[id="2"] {
  width: 20px;
  height: 20px;
  background-color: rgb(34, 131, 221);
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 35px;
  margin-bottom: 25px;

  position: absolute;
}
.player[id="3"] {
  width: 20px;
  height: 20px;
  background-color: rgb(165, 83, 16);
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 35px;
  margin-top: 25px;

  position: absolute;
}
.game-message {
  margin-left: 120px;
}

.Results {
  display: flex;
  flex-direction: column;

  position: absolute;
  height: 200px;
  width: 300px;

  word-wrap: break-word;
  margin-left: 1200px;
  text-align: center;
}

.score-table {
  display: flex;
  flex-direction: row;
  ft: 100px;
}

.score {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  font-size: 24px;
}
.game-info {
  position: absolute;
  height: 300px;
  width: 500px;
  padding: 20px;

  word-wrap: break-word;
}
.dice-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  margin-right: 100px;
}

.players-message {
  position: absolute;
}
.dice {
  margin-top: 50px;
  margin-right: 50px;
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: bold;
  font-size: 24px;
  background-color: rgb(76, 197, 106);
  color: rgb(255, 255, 255);
}
.dice-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 3px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: 150px;
}

.long-snake {
  position: absolute;
  margin-top: 250px;
  height: 300px;
  width: 80px;
  margin-left: 25px;
}
.short-snake {
  position: absolute;

  height: 150px;
  width: 100px;
  margin-left: 30px;
  rotate: 45deg;
}
.long-ladder {
  position: absolute;
  margin-top: 350px;
  margin-left: 250px;
  height: 500px;
  width: 100px;
  rotate: -40deg;
}
.short-ladder-1 {
  position: absolute;

  height: 250px;
  width: 100px;
  rotate: 60deg;
  margin-bottom: 60px;
  margin-left: 280px;
}
.short-ladder-2 {
  position: absolute;

  height: 220px;
  width: 100px;
  margin-top: 50px;
  margin-left: 150px;
  margin-bottom: 90px;
  rotate: 10deg;
}
.short-ladder-3 {
  position: absolute;

  height: 250px;
  width: 100px;
  margin-top: 150px;
  margin-left: 180px;
  margin-bottom: 90px;
  rotate: 100deg;
}
.short-ladder-4 {
  position: absolute;

  height: 100px;
  width: 100px;
  margin-top: 50px;
  rotate: 100deg;
  margin-left: 50px;
}
.short-ladder-5 {
  position: absolute;

  height: 150px;
  width: 100px;
  margin-bottom: 200px;
  rotate: -40deg;
}
.short-ladder-6 {
  position: absolute;

  height: 200px;
  width: 100px;
  margin-bottom: 100px;
  rotate: 20deg;
}
.short-ladder-7 {
  position: absolute;

  height: 100px;
  width: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.short-ladder-8 {
  position: absolute;

  height: 150px;
  width: 100px;
  margin-bottom: 100px;

  rotate: -25deg;
}
.long-snake-right-direction {
  position: absolute;
  margin-top: 300px;
  height: 400px;
  width: 100px;
  margin-right: 200px;
  rotate: 25deg;
}
.green-snake {
  position: absolute;
  margin-top: 150px;
  height: 200px;
  width: 100px;
}
.green-snake-2 {
  position: absolute;
  margin-top: 50px;
  height: 100px;
  width: 70px;
  margin-left: 45px;
  rotate: -60deg;
}
.long-snake-2 {
  position: absolute;
  margin-top: 200px;
  height: 350px;
  width: 80px;
  margin-left: 200px;
  rotate: -35deg;
}
.reset {
  height: 50px;
  width: 100px;
  background-color: rgb(76, 197, 106);
  font-weight: bolder;
  color: white;
}
.playAgain {
  height: 50px;
  width: 100px;
  background-color: rgb(76, 197, 106);
  font-weight: bolder;
  color: white;
}
